.divider-background{background-repeat:repeat-x; background-position: left center;}
.divider-h2{margin:0px;padding:0px;display: inline-block;   padding-right: 20px;background-color:#fff;font-size: 36px;font-weight: bold;color: #000;transform: translateY(-50%);}
.divider-container{transform: translateY(25%);}
