.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/**
* 7: Post Slider-2 (full width) Stylings
* -----------------------------------------------------------------------------
*/

/*hide navigation to begin, will be revealed with js*/
.post-slider-3-buttons { opacity:0;}
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) 
{
	.post-slider-3 .read-more{color: #888; font-style: italic;font-size:14px;}
	.slick-slider p{margin-bottom:20px;}
	.slick-slider {  margin-bottom: 0px !important;}
	.container-featured { max-width: 100%;padding-bottom:0;}
	.post-slider-3 .slick-item-container { margin-left: 0px; margin-right:0px; }
	.prev-preview-container,.next-preview-container{color:#ffffff;}
	.featured-thumbnail-slider-paragraph {	clear:both;	font-size: 16px; line-height: 25px;} 
	.thumbnail-slider{border-bottom:1px solid #e5e5e5;padding:50px 0 40px;position: relative;}
	.slick-slider{margin-bottom:0;}
	.almost-full-width{width:84%;margin-left:auto;margin-right:auto;}
	.small-arrow-right,.small-arrow-left{margin-top:0!important;}
	.slick-prev{width:40px!important;height:40px!important;background-color:#000!important;color:#fff!important;font-size:10px!important;left:30px!important;top:10px!important;transition:all .35s;}
	.minimal .slick-prev{left:-5px!important;width:24px!important;height:24px!important;background-color:#000!important;color:#fff!important;font-size:8px!important;top:14px!important;transition:all .35s;}
	.slick-next{right:30px!important;width:40px!important;height:40px!important;background-color:#000!important;color:#fff!important;font-size:10px!important;top:10px!important;transition:all .35s;}
	.minimal .slick-next{right:4px!important;width:24px!important;height:24px!important;background-color:#000!important;color:#fff!important;font-size:8px!important;top:14px!important;transition:all .35s;}
	.arrow-right{height:100px;float:right;display:none;}
	.arrow-left{height:100px;float:left;display:none;}
	.arrow-left,.arrow-right{display:block;}
	.thumbnail-slider .prev{margin-top: 55px;}
	.thumbnail-slider .next{margin-top: 55px;}
	.nav-thumbflip a {perspective:1000px;}
	.nav-thumbflip a.prev{perspective-origin:100% 50%;}
	.nav-thumbflip a.next{perspective-origin:0 50%;}
	.nav-thumbflip .icon-wrap{display:block;width:70px;height:100px;background-color:#000;transition:background-color .3s;color:#fff;padding-top:42px;padding-left:10px;font-size:10px;}
	.icon-wrap-left{padding-left:40px;}
	.nav-thumbflip .icon-wrap-right{padding-left:12px;}
	.nav-thumbflip svg.icon{position:relative;top:50%;transition:fill .3s;transform:translateY(-50%);fill:#eee;}
	.nav-thumbflip .label{position:absolute;top:0;transition:transform .3s;backface-visibility:hidden;width:75px;height:100px;background-color:#ccc;color:#fff;font-size:12px;line-height:16px;border-radius:0;text-transform:uppercase;letter-spacing:1px;}
	.nav-thumbflip a.prev .label{left:100%;transform:rotateY(90deg);transform-origin:0 50%;}
	.nav-thumbflip a.next .label{right:100%;transform:rotateY(-90deg);transform-origin:100% 50%;}
	.nav-thumbflip a:hover .icon-wrap{background-color:#111;}
	.nav-thumbflip a:hover svg.icon{fill:#c1b8ab;}
	.nav-thumbflip a:hover .label{transform:rotateY(0deg);}
	.slick-prev:hover,.slick-next:hover{background-color:#ddd!important;color:#000!important;}
	.slick-prev:before,.slick-next:before,.slick-prev,.slick-next{display:none!important;}
	.nav-thumbflip .label-next,.nav-thumbflip .label-prev{text-align:left;padding-left:17px;padding-top:35px;}
	.nav-doubleflip a.nothumbnail{margin-top:7px;}
	 .post-slider-3-buttons { display:none;}
	 
	.item-3{	background-color: #000;	font-size: 26px;-webkit-backface-visibility: hidden;backface-visibility: hidden;padding: 0px;position: absolute;bottom: 0;	top: auto;width: 100%;background: rgba(0, 0, 0, 0.4);transform:translateY(0%);	-webkit-transition:all 0.35s; transition:all 0.35s; transition-delay: 0.15s;	text-align: left; padding: 25px 35px 25px 35px; }
	.item-3 h3 ,.item-4 h3{color: #fff; font-size: 20px; line-height: 28px; margin: 0px; letter-spacing: 0.3px; padding-bottom: 13px;	}
	.effect-1 .item-3 .meta-categories a,.effect-1 .item-4 .meta-categories a,.effect-1 .item-3 .meta-tags a,.effect-1 .item-4 .meta-tags a{background-color: #aaa;}
	.item-3 .meta-categories a:hover,.item-4 .meta-categories a:hover,.item-3 .meta-tags a:hover, .item-4 .meta-tags a:hover{ background-color: #555;}
	.item-3 .meta-date, .item-3 .icon-calendar-inv, .item-3 .featured-thumbnail-slider-paragraph, .item-3 .featured-thumbnail-slider-paragraph a,
	.item-4 .meta-date, .item-4 .icon-calendar-inv, .item-4 .featured-thumbnail-slider-paragraph, .item-4 .featured-thumbnail-slider-paragraph a
	{color:#fff;	}	
	.item-3 .meta-excerpt,.item-4 .meta-excerpt{color:#e3e3e3;}
	.item-3 .featured-thumbnail-slider-paragraph,.item-4 .featured-thumbnail-slider-paragraph  {   margin-bottom: 5px;}
	.item-4{	background-color: #000;font-size: 26px;-webkit-backface-visibility: hidden;backface-visibility: hidden;padding: 0px;	position: absolute;	bottom: 0;top: auto;width: 100%;background: rgba(0, 0, 0, 0.4);transform:translateY(100%);-webkit-transition:all 0.35s;transition:all 0.35s;transition-delay: 0.15s;text-align: left;  padding: 25px 35px 25px 35px;}
	
	/*override background color opacity for this*/
	.post-slider-3 .effect-1:hover img {opacity: 0.5;-webkit-transform: scale(1.12);transform: scale(1.12);}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px)
{
	.post-slider-3 .slick-item-container { margin-left: 0px; margin-right:0px; }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) 
{
	 .post-slider-3 .slick-item-container { margin-left: 0px; margin-right:0px; }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) 
{
	  .container-featured {width: 990px!important; }
	   .post-slider-3 .slick-item-container { margin-left: 20px; margin-right:20px; }
	 .post-slider-3 .effect-1:hover .item-4{transform:translateY(0%);opacity:1;}
	 .post-slider-3 .effect-1:hover .item-3{transform:translateY(100%);	opacity:1;}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) 
{
	  .container-featured { width: 1188px!important; }
	  .post-slider-3 .slick-item-container { margin-left: 0px; margin-right:0px; }
	  .thumbnail-slider .prev{margin-top: 34px;}
	  .thumbnail-slider .next{margin-top: 34px;}
	  .thumbnail-slider.post-slider-3 .prev,.thumbnail-slider.post-slider-3 .next { top: 50%; transform: translateY(-50%); margin-top: 0px; pointer-events:auto; }
	  .equal-heights-slider-3 { position:absolute; pointer-events: none;}
	  .post-slider-3-buttons { display:block;}
}
