.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
{
	.featured-slider-3 .item-5 { position: absolute; top: auto; bottom: 0px;left: 0px;right: 0px; background: rgba(255, 255, 255, 0.85);  padding: 25px; padding-bottom: 10px; padding-left:40px; padding-right:40px;	}

	/*dots*/
	.featured-slider-3 .slick-dots {  position: absolute; bottom: 55px; display: block; width: 100%; padding: 0; list-style: none; text-align: center;}
       	.featured-slider-3 .slick-dots li { position: relative; display: inline-block; width: 20px; height: 20px; margin: 0 5px; padding: 0; cursor: pointer; transition: all 0.25s linear;}
       	.featured-slider-3 .slick-dots li button { display: block;  width: 11px; height: 11px; background: rgba(0, 0, 0, 0.1); border: 2px solid #fff; border-radius: 6px; margin: 0 2px; text-indent: -9999px; padding: 2px; outline: 0; cursor: pointer; border: 1px solid rgba(0, 0, 0, 0.15);  transition: all 0.25s linear;}
       	.featured-slider-3 .slick-dots li.slick-active button { background: #333; transition: all 0.25s linear;}

       	/*hide the meta for this size as they cant fit*/
       	 .featured-slider-3 .meta-excerpt, .featured-slider-3 .meta-categories, .featured-slider-3 .meta-tags, .featured-slider-3 .read-more,.featured-slider-3 .meta-author,.featured-slider-3 .meta-date,.featured-slider-3 .meta-date-comments, .featured-slider-3 .meta-comments,.featured-slider-3 .meta-date-comments-author,.featured-slider-3 .meta-date-author,.featured-slider-3 .meta-date-comments-author,.featured-slider-3 .share-boxes, .featured-slider-3 .divider-container{display:none;}
        .featured-slider-3 .start-icon{ padding-left: 0px;}
	.featured-slider-3 .item-5 {padding-top: 40px; }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
{
	.featured-slider-3 .slick-item-container { margin-left: 0px; margin-right:0px; }
	.featured-slider-3 .item-5 {padding-bottom: 20px; }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
{
	 .featured-slider-3 .slick-item-container { margin-left: 0px; margin-right:0px; }
	  /*show the excerpt meta for this size */
       	 .featured-slider-3 .meta-excerpt,.featured-slider-3{display:block;}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
{
	 /*show the meta for this size */
       	 .featured-slider-3 .meta-excerpt, .featured-slider-3 .meta-categories, .featured-slider-3 .meta-tags, .featured-slider-3 .read-more,.featured-slider-3 .meta-author,.featured-slider-3 .meta-date,.featured-slider-3 .meta-date-comments,.featured-slider-3 .meta-comments,.featured-slider-3 .meta-date-comments-author,.featured-slider-3 .meta-date-author,.featured-slider-3 .meta-date-comments-author,.featured-slider-3 .share-boxes, .featured-slider-3 .divider-container{display:block;}
	  .featured-slider-3 .container-featured {width: 990px!important; }
	  .featured-slider-3 .slick-item-container { margin-left: 0px; margin-right:0px; }
	  .featured-slider-3 .item-5 { position: absolute; top: auto; bottom: 40px; left: 40px; right: 40px; background: rgba(255, 255, 255, 0.9); padding: 40px; padding-bottom: 75px; padding-left:40px; padding-right:40px;	}
	 .featured-slider-3 .item-5 {padding-bottom: 70px; }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
{
}
