.header-variation-2{display:inline-block;padding: 8px;border-bottom:3px solid #ddd;}
.header-variation-2-h2{font-size: 24px;margin:0px;padding:0px;letter-spacing: 2px;text-transform:uppercase;}
.header-variation-2-container{width:100%;text-align:center;}

