
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
{
	 /*basic styles. These will be overwritten by the options, but are here in case user switches themes*/
	h1,h2,h3{font-family: Playfair Display; }
	h2{font-size:36px;}
	h3{font-size:32px;}
	a:link {text-decoration: none;}
	body{ background-color:#fff!important; border:10px solid #000;font-family: Droid Serif;}
	p{margin-bottom:36px;}
	a{color:#000;}
	a:hover{text-decoration:none;}

	/*component element padding*/
	.component-element{padding:8px 0px 8px 0px;}
	.focus .component-element{padding:12px 0px 12px 0px;}

	/*bottom padding*/
	 .component-element:last-child{margin-bottom:0px;padding-bottom:0px;}
	.focus .component-element:last-child{margin-bottom:0px;padding-bottom:0px;}

	/*top padding*/
	 .component-element:first-child{padding-top:0px;}
	.focus .component-element:first-child{padding-top:0px;}

	/*thumbnail hover effects*/
	.grid {position: relative;margin: 0 auto;	max-width: 1170px;list-style: none;text-align: center;-webkit-transition: all 2s ease;transition: all 2s ease;background: transparent;}
	.effect-1{/*was float left*/	position: relative;overflow: hidden;text-align: center;cursor: pointer;}
	.grid:hover{	background: #000;	-webkit-transition: all 0s;transition: all 0s;}
	.effect-1 img{position: relative;display: block;min-height: 100%;max-width: 100%;	opacity: 1;}
	.centered{position: relative;display:block;top: 50%;transform: translateY(-54%);}
	.effect-1 img{-webkit-transition: all 2.0s ease;transition: opacity all 2.0s ease;	-webkit-transform: scale(1);transform: scale(1);	}
	.item-1 > a {	position: absolute;	top: 0;left: 0;width: 100%;height: 100%;z-index: 1000;text-indent: 200%;white-space: nowrap;font-size: 0;opacity: 0;}
	.item-1{color: #fff;font-size: 26px;-webkit-backface-visibility: hidden;backface-visibility: hidden;padding: 0px;	position: absolute;	top: 0;left: 0;width: 100%;height: 100%;}
	.item-2{color: #fff;text-transform: uppercase;font-size: 26px;-webkit-backface-visibility: hidden;backface-visibility: hidden;padding: 0px;position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
	.item-1 p{letter-spacing: 1px;height: 100%;position: relative;opacity: 0;-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;transition: opacity 0.35s, transform 0.35s;transition-delay: 0.15s;margin: 0 auto;max-width: 1500px;-ms-transform: rotate(0deg) scale(0.2); /* IE 9 */ -webkit-transform: rotate(0deg) scale(0.2); /* Chrome, Safari, Opera */ transform: rotate(0deg) scale(0.2);font-size:15px;padding:20px;}
	.item-1.large p{font-size:24px;}
	.effect-1:hover .item-1 p{opacity: 0.9;	-ms-transform: rotate(0deg) scale(1); /* IE 9 */-webkit-transform: rotate(0deg) scale(1); /* Chrome, Safari, Opera */transform: rotate(0deg) scale(1);}
	.item-2 p{font-family: Playfair Display;letter-spacing: 1px;font-size: 68.5%;height: 100%;position: relative;opacity: 0;-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;transition: opacity 0.35s, transform 0.35s;margin: 0 auto;max-width: 1500px;-webkit-transform: scale(3);transform: scale(3);font-size: 120px;transition-delay: 0.15s;}
	.item-2.large p {font-size:140px;}
	.effect-1:hover .item-2 p 	{opacity: 0.2;-webkit-transform: scale(1);transform: scale(1);}
	.small-arrow	{border: 0px solid #222;padding: 34px;}
	.posts-block-5-mid img.lazy-hidden { opacity: 0;}
	.posts-block-5-mid img.lazy-loaded { opacity: 1;}
	.effect-1:hover img{	opacity: 0.25;-webkit-transform: scale(1.12);transform: scale(1.12);}

	/*padding and margin classes*/
	.padding-top{padding-top:40px;}
	.padding-bottom{padding-bottom:40px;}
	.margin-top{margin-top:40px;}
	.margin-bottom{margin-bottom:40px;}

	 /*component styles*/

	 /*image*/
	 a.image-holder{display:block;}

	 /*title*/
	 .component-element h3{  padding-top: 0px;margin:0px; font-size: 28px;  line-height: 32px;font-weight:400;}
	 .component-element h3.small-headline{font-size:24px; line-height: 32px;}
	 .component-element h4{font-size:16px;font-weight: normal; line-height: 23px; margin:0px;}
	 .meta-title{margin: -3px 0px -3px 0px;}
	 .focus .meta-title{margin: -10px 0px -5px 0px;}

	 /*tags and categories*/
	 .tags a { font-size: 12px; display: inline-block; background-color: #c9c9c9; text-transform: uppercase; color: #fff; margin: 0 1px 0px 0;  padding: 6px 4px 4px 6px;  line-height: 11px;letter-spacing:1px;}
	 .tags{margin:0px; font-size: 0px;}

	 /*excerpt*/
	 /*.meta-excerpt {font-size:14px;margin-bottom: 14px;line-height:22px;font-style:italic;    margin-top: 0px;}
	 .meta-excerpt  a{color:#888;font-style:italic;}*/
	 /*general meta*/
	  .meta-excerpt {font-size: 14px; font-style: italic; color: #a6a6a6; line-height: 22px; margin:-8px 0px -4px 0px; } /* not sure why the meta exerpt needs such a large -ve top margin*/
	  .meta-excerpt a{color: #a6a6a6;}
	  .focus .meta-excerpt{  font-size:17px;  line-height: 24px;} /*focus adjustment*/

	 /* divider*/
	.divider-border{width:100%;margin:15px 0px 15px 0px;}
	.divider-container{width:100%;}

	 /*general meta*/
	 .general-meta {font-size: 14px; font-style: italic; color: #a6a6a6; line-height:1; margin:-1px 0px -1px 0px; }
	 .general-meta a{color:#a6a6a6;transition:  all .35s linear; -moz-transition:  all .35s linear;  -o-transition:  all .35s linear;  -ms-transition:  all .35s linear;  transition:  all .35s linear;}
	 .general-meta a:hover{color:#111;}
	 .slash-divider{    display: inline-block; padding-left: 3px; padding-right: 3px; color: #ccc;  font-size: 14px;}
	 .fa-comments:before { content: "\f086"; margin-right: 3px;}

	 /*hover animations*/
	 .tags a{-webkit-transition: background-color .35s linear; -moz-transition: background-color .35s linear;  -o-transition: background-color .35s linear;  -ms-transition: background-color .35s linear;  transition: background-color .35s linear;  }
	 .tags a:hover { background-color: #111;color:#fff}

	 /*dropcap (may be removed now) */
	  .focus .dropcap{padding-right: 8px!important;font-family: Playfair Display;font-size: 80px!important;color:#222;font-style:normal;}





	/*social media icons*/
	.share-boxes{font-size: 14px; font-style: italic; color: #a6a6a6;}
	.absolute-container{position:relative;display: inline-block;}
	 .fa-share-alt{cursor: pointer;z-index:1000;border: 1px solid #ddd; background-color: #fff; width:30px;height:30px;padding-top: 6px; padding-left: 8px; margin: 0px; position: relative; top: 0px; float: left;}
	 .social-box{  opacity:0;position: absolute; display: inline-block;  text-align: center;   border: 0px solid #eaeaea; left:0px;}
	 .social-box .icon{margin:0px;padding:0px;font-size: 14px;  color:#fff; display: inline-block; text-align: center; padding: 5px 6px 4px 5px;  margin-right: 0px; margin-left: 0px; }
	 .social-box.facebook{left:0px;transition:  all .35s ease; -moz-transition:  all .35s ease;  -o-transition:  all .35s ease;  -ms-transition:  all .35s ease;  transition:  all .35s ease; -webkit-transition-delay: 0s;  transition-delay: 0s;z-index:5;}
	 .social-box.twitter{left:0px;transition:  all .35s ease; -moz-transition:  all .35s ease;  -o-transition:  all .35s ease;  -ms-transition:  all .35s ease;  transition:  all .35s ease; -webkit-transition-delay: 0.15s;  transition-delay: 0.15s;z-index:4;}
	 .social-box.google-plus{left:0px;transition:  all .35s ease; -moz-transition:  all .35s ease;  -o-transition:  all .35s ease;  -ms-transition:  all .35s ease;  transition:  all .35s ease; -webkit-transition-delay: 0.3s;  transition-delay: 0.3s;z-index:3;}
	 .social-box.linked-in{left:0px;transition:  all .35s ease; -moz-transition:  all .35s ease;  -o-transition:  all .35s ease;  -ms-transition:  all .35s ease;  transition:  all .35s ease; -webkit-transition-delay: 0.45s;  transition-delay: 0.45s;z-index:2; }
	 .social-box.pinterest{left:0px;transition:  all .35s ease; -moz-transition:  all .35s ease;  -o-transition:  all .35s ease;  -ms-transition:  all .35s ease;  transition:  all .35s ease; -webkit-transition-delay: 0.6s;  transition-delay: 0.6s;z-index:1;}
	 .inner{width:30px;height:30px;padding-top: 3px;}
	 .share-label{display:inline-block; padding:6px 0px 0px 8px; height:30px;}
	 .inner{display: inline-block; text-align: center; margin-right: 0px; margin-left: 0px; }
	 .facebook-inner{background-color: #4e69a2;}
	 .twitter-inner{background-color: #19b4ef;}
	 .google-plus-inner{background-color: #e05d4c;}
	 .linked-in-inner{background-color:#1984bc;}
	 .pinterest-inner{background-color:#d0363c; }

	/*social media hover animations- box appears*/
	 .share-boxes:hover .facebook {left:30px; opacity:100;}
	 .share-boxes:hover .twitter {left:60px; opacity:100;}
	 .share-boxes:hover .google-plus {left:90px; opacity:100;}
	 .share-boxes:hover .linked-in {left:120px; opacity:100;}
	 .share-boxes:hover .pinterest {left:150px; opacity:100;}

	/*social media hover animations- box colors*/
	 .facebook-inner:hover{background-color:#2d4373;}
	 .twitter-inner:hover{background-color:#0099d3;}
	 .google-plus-inner:hover{background-color:#d73925;}
	 .linked-in-inner:hover{background-color:#0077B5;}
	 .pinterest-inner:hover{background-color:#b51d23;}

	/*pagination*/
	.page-nav{    margin-top: 10px; margin-bottom: 50px;}
	.nav-links{position: relative;text-align:center;}
	.page-numbers,.page-numbers-faded { padding: 10px 15px 10px 16px;  margin-left: 0px;  color: #888;font-size:15px;-webkit-transition: all .35s linear; -moz-transition:  all .35s linear;  -o-transition:  all .35s linear;  -ms-transition:  all .35s linear;  transition:  all .35s linear;}
	.page-numbers-faded.prev{padding-right:14px;}
	.page-numbers-faded.next{padding-left:14px;}
	.page-numbers.dots{ margin-left: 0px; color: #111; }
	.current{  color: #333; border:1px solid #dfdfdf;}
	.next,.prev{padding: 0px 0px;color:#111;}
	 .page-numbers-faded.next, .page-numbers-faded.prev{color:#ddd;display:inline-block;opacity:0;}
	.nav-links .page-numbers-faded.next,.nav-links .page-numbers-faded.prev{opacity:1;}

	/*pagination hover*/
	.page-numbers:hover{color:#111;}
	.page-numbers.next:hover,.page-numbers.prev:hover{color:#111;}




}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
{

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
{
	.page-numbers-faded.prev{padding-right:0px;}
	.page-numbers-faded.next{padding-left:0px;}
	 .component-element h3{font-size: 32px;line-height: 36px;}
	 .focus .component-element h3{  }
	 .component-element h3.small-headline{font-size:24px; line-height: 32px;}

	.page-numbers.prev, .page-numbers.next,.page-numbers-faded.prev, .page-numbers-faded.next {  position: absolute;  top: 0;}
	.page-numbers.next,.page-numbers-faded.next  { right: 0;}
	.page-numbers.prev,.page-numbers-faded.prev  { left: 0;}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
{
	h3.component-element{font-size: 36px;line-height: 40px;}
	 .focus .component-element h3{}
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
{

}
